body {
  text-align: center;
  background-color: black;
  color: rgb(159, 136, 136);
  margin: 0;
  padding: 0;
}

h1,
h2 {
  text-decoration: underline;
}


.btn {
  height: 180px;
  width: 180px;
  border: 5px solid rgb(37, 37, 37);
  border-radius: 20%;
  margin: 1.5rem;
  touch-action: manipulation;
}


.btn-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.yellow {
  background-color: rgb(236, 236, 145);
}

.red {
  background-color: rgb(248, 168, 168);
}

.green {
  background-color: rgb(178, 248, 178);
}

.purple {
  background-color: rgb(252, 171, 252);
}


.flash {
  background-color: white;
}

.userFlash {
  background-color: green;
}


@media (max-width: 600px) {
  .btn {
    height: 120px;
    width: 120px;
    margin: 1rem;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.2rem;
  }
}
